@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --primary-color: #f9b23c;
    --primary-color-dark: #f49a20;
    --text-dark: #333;
    --text-light: #767268;
    --extra-light: #fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--extra-light);
    font-family: "Roboto", sans-serif;
    background-color: #00c7b6e3;
}

nav{
    position: absolute;
    margin-top: -47%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    padding: 2rem;
}

nav .nav_logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
    text-decoration: none;
    top: 0px;
}
.button a{
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 25px;
    color: #00776d;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
    background: #333;
    display: inline-block;
}
.button a:hover{
    color: #333;
    background-color: #00776d;
}

.logopng{
    padding-top: 0px;
    padding-bottom: 10%;
    height: auto;
    width: 80%;
}

.container {
    max-width: 400px;
    padding: 2rem;
    margin: auto;
    display: grid;
    color: var(--text-dark);
    background-color: #04aa6d;
    border: 10px #00885b;
    border-style: solid;
    border-radius: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.header h1{
    font-size: 4rem;
    font-weight: 900;
}
.container h3{
    font-size: 2rem;
    font-weight: 900;
}
.container img{
    width: 100%;
    max-width: 300px;
    margin: auto;
}

.footer{
    display: grid;
    gap: 2rem;
    place-content: baseline;
}
.footer p{
    font-variation-settings: 1rem;
}

.footer button{
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    color: var(--extra-light);
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: .3s;
}

.footer button:hover{
    background-color: var(--primary-color-dark);
}


@media screen and (max-height: 750px) and (max-width: 768px) {

    .container {
        max-width: 400px;
        top: 0;
        padding: 0rem;
        margin: 0px;
        display: grid;
        color: var(--text-dark);
        background-color: #04aa6d;
        border: 10px #00885b;
        border-style: solid;
        border-radius: 30px;
    }

    .button a{
        padding: 1rem;
        outline: none;
        border: none;
        border-radius: 25px;
        color: #00776d;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        transition: .3s;
        text-decoration: none;
        background: #333;
        display: inline-block;
        margin-left: 10px;
    }


}